<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>刘富频的个人博客———登陆</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="panel-body">
    <div class="input-group" style="margin-top: 10px">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" class="form-control" id="username" name="username" maxlength="16"
               placeholder="请输入用户名，最多16个字符">
    </div>

    <div class="input-group" style="margin-top: 20px">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
        </div>
        <input type="password" class="form-control" id="password" name="password" maxlength="16"
               placeholder="请输入密码，6~16个字符">
    </div>

    <button id="loginBtn" class="btn btn-success" style="margin-top: 30px; width: 100%;">登陆</button>

    <div class="text-danger" style="margin-top: 20px">
        注意：只有登陆用户才能进行评论！
    </div>
</div>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/plugin/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        $('#loginBtn').click(function () {
            var userName = $('#username').val();
            var password = $('#password').val();

            if (!userName) {
                layer.alert('请输入用户名，最多16位字符', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            if (password) {
                if (password.length < 6) {
                    layer.alert('请至少输入6位密码', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                    return;
                }
            } else {
                layer.alert('请输入6~16位密码', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            $.ajax({
                url: 'login',                 //请求的url地址，这是相对于现在的位置的地址
                dataType: 'json',             //返回格式为json
                async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
                data: {'username': userName, 'password': password},   //参数值
                type: 'POST',                  //请求方式
                beforeSend: function () {      //请求前的处理

                },
                success: function (response) {      //请求成功时处理
                    var errMsg = '登陆失败';

                    if (response) {
                        if (response.code == 0 && response.userId) {
                            //由于这个页面被layer加载
                            parent.window.location.reload();
                            return;
                        }

                        if (response.message) {
                            errMsg = response.message;
                        }
                    }

                    layer.alert(errMsg, {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                error: function () {          //请求出错处理
                    layer.alert('请求失败，请重试！', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                complete: function () {       //请求完成的处理

                }
            });
        });
    });
</script>
</body>
</html>
