<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧后台———添加菜目</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">添加菜目</div>
                </div>

                <div class="panel-body">
                    <div class="text-center">
                        <img src="/images/user_default_icon.png" class="img-rounded"
                             style="margin-top: 20px; margin-bottom: 20px; width: 100px; height: 100px">
                    </div>
                    <div class="input-group" style="margin-top: 10px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 50px">
                                菜名：
                            </div>
                        </div>
                        <input type="text" class="form-control" id="name" placeholder="请输入菜名">
                    </div>
                    <div class="input-group" style="margin-top: 10px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 50px">
                                价格：
                            </div>
                        </div>
                        <input type="text" class="form-control" id="price" placeholder="请输入价格">
                        <div class="input-group-addon">
                            ￥
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 10px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 50px">
                                分类：
                            </div>
                        </div>
                        <input type="text" class="form-control" id="classify" placeholder="请输入分类">
                    </div>
                </div>
                <div class="text-center">
                    <button id="commitBtn" type="button" class="btn btn-success"
                            style="margin-bottom: 20px; width: 50%">提交
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        $('#commitBtn').click(function () {
            var name = $('#name').val();
            var price = $('#price').val();
            var classify = $('#classify').val();

            if (!name) {
                layer.alert('请输入菜名', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            if (!price) {
                layer.alert('请输入菜价', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            if (!classify) {
                layer.alert('请输入所属分类', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            var dishes = {};
            dishes.icon = 'https://avatars3.githubusercontent.com/u/290058?v=3&s=400';
            dishes.name = name;
            dishes.price = price;
            dishes.classify = classify;

            $.ajax({
                url: '/admin/restaurant/<%= restaurantId %>/dishes/add',  //请求的url地址，这是相对于现在的位置的地址
                dataType: 'json',              //返回格式为json
                async: true,                   //请求是否异步，默认为异步，这也是ajax重要特性
                data: dishes,              //参数值
                type: 'POST',                  //请求方式
                beforeSend: function () {      //请求前的处理

                },
                success: function (response) { //请求成功时处理
                    var errMsg = '添加失败';

                    if (response) {
                        if (response.code == 0) {
                            layer.alert('添加成功', {
                                skin: 'layui-layer-molv',  //样式类名
                                closeBtn: 0,
                                shift: 2 //动画类型
                            }, function () {
                                location.reload();
                            });
                            return;
                        }

                        if (response.message) {
                            errMsg = response.message;
                        }
                    }

                    layer.alert(errMsg, {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                error: function () {          //请求出错处理
                    layer.alert('请求失败，请重试！', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                complete: function () {       //请求完成的处理

                }
            });
        });
    });
</script>
</body>
</html>