<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———关于</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">关于</div>
                </div>
                <div class="panel-body">
                    <div class="h1 text-center">乐餐吧V1.0</div>
                    <div class="first_p">
                        乐餐吧项目成立于2015年12月28日的夜晚，项目初期就是为了方便公司加班员工点餐，解放我们可爱的子寒妹妹而设计开发的。
                    </div>
                    <div class="first_p">
                        希望大家能够喜欢，同时也感谢项目组的全体成员，在007的加班模式下，抽出宝贵时间完成项目的策划、设计和开发。
                    </div>
                    <div class="first_p">
                        项目组成员：
                    </div>
                    <ul class="list-tree">
                        <li>
                            <span class="list-tree-item-title">项目总策划：</span>
                            <span class="list-tree-item-summary">孙海龙</span>
                        </li>
                        <li>
                            <span class="list-tree-item-title">产品策划    ：</span>
                            <span class="list-tree-item-summary">康国英</span>
                        </li>
                        <li>
                            <span class="list-tree-item-title">产品设计    ：</span>
                            <span class="list-tree-item-summary">王晓伟</span>
                        </li>
                        <li>
                            <span class="list-tree-item-title">产品研发    ：</span>
                            <span class="list-tree-item-summary">刘富频</span>
                        </li>
                        <li>
                            <span class="list-tree-item-title">测试            ：</span>
                            <span class="list-tree-item-summary">全体同学们</span>
                        </li>
                    </ul>
                    <div class="first_p">
                        我们的口号：
                    </div>
                    <div class="first_p text-success">
                        让点餐变得容易，让加班变得美好
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
