<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———重置密码</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">
                        修改密码
                    </div>
                </div>
                <div class="panel-body">
                    <div class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 70px; font-size: 14px">旧密码：</div>
                        </div>
                        <input type="password" class="form-control" id="oldPassword"  name="oldPassword" placeholder="请输入旧密码，6~16个字符">
                    </div>

                    <div class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon text-right">
                            <div class="text-right" style="width: 70px; font-size: 14px">新密码：</div>
                        </div>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="请输入新密码，6~16个字符">
                    </div>

                    <div class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 70px; font-size: 14px">确认密码：</div>
                        </div>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="请再次输入新密码">
                    </div>

                    <button id="okBtn" class="btn btn-success" style="margin-top: 40px; margin-bottom: 40px; width: 100%;">
                        确定
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function() {
        $('#okBtn').click(function() {
            var oldPassword = $('#oldPassword').val();
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();

            if (oldPassword) {
                if (oldPassword.length < 6) {
                    layer.alert('请至少输入6位密码', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                    return;
                }
            } else {
                layer.alert('请输入旧密码，6~16个字符', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            if (newPassword) {
                if (newPassword.length < 6) {
                    layer.alert('请至少输入6位密码', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                    return;
                }
            } else {
                layer.alert('请输入新密码，6~16个字符', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            if (confirmPassword) {
                if (confirmPassword.length < 6) {
                    layer.alert('请至少输入6位密码', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                    return;
                }
            } else {
                layer.alert('请再次输入新密码，6~16个字符', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            if (newPassword != confirmPassword) {
                layer.alert('两次输入的密码不一致，请重新输入', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
                return;
            }

            $.ajax({
                url: '/mine/change-password',      //请求的url地址，这是相对于现在的位置的地址
                dataType: 'json',             //返回格式为json
                async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
                data: {'oldPassword': oldPassword, 'newPassword': newPassword},   //参数值
                type: 'POST',                  //请求方式
                beforeSend: function () {      //请求前的处理

                },
                success: function (response) {      //请求成功时处理
                    var errMsg = '修改密码失败';

                    if (response) {
                        if (response.code == 0) {
                            layer.alert('密码修改成功', {
                                skin: 'layui-layer-molv',  //样式类名
                                closeBtn: 0,
                                shift: 2 //动画类型
                            });
                            return;
                        }

                        if (response.code == 4) {
                            layer.alert('Token已经过期，请重新登陆', {
                                skin: 'layui-layer-molv',  //样式类名
                                closeBtn: 0,
                                shift: 2 //动画类型
                            }, function() {
                                location.href = '/login';
                            });
                            return;
                        }

                        if (response.message) {
                            errMsg = response.message;
                        }
                    }

                    layer.alert(errMsg, {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                error: function () {          //请求出错处理
                    layer.alert('请求失败，请重试！', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                },
                complete: function () {       //请求完成的处理

                }
            });
        });
    });
</script>
</body>
</html>
