<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>晚上加班点餐系统———我的</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">
                        乐餐吧
                    </div>
                </div>
                <div class="text-center">
                    <div class="common_item">
                        <img id="icon" src="/images/user_default_icon.png" class="img-circle common_item_left"
                             style="width: 70px; height: 70px"/>
                        <div class="common_item_right" style="height: 70px; line-height:10px; vertical-align: middle">
                            <div id="name" class="common_item_right_title text-left h1"></div>
                            <div id="telephone" class="common_item_right_title"></div>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="">
                            <div class="common_item" style="display: block">
                                <img src="/images/ic_qq_normal.png" class="img-circle common_item_left"
                                     style="width: 30px; height: 30px"/>
                                <div class="common_item_right"
                                     style="height: 20px; line-height:20px; vertical-align: middle">
                                    <div class="common_item_right_title text-left">修改密码</div>
                                </div>
                                <img src="/images/arrow_right_normal.png" class="img-circle pull-right"/>
                            </div>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/mine/order">
                            <div class="common_item" style="display: block">
                                <img src="/images/ic_weixin_normal.png" class="img-circle common_item_left"
                                     style="width: 30px; height: 30px"/>
                                <div class="common_item_right"
                                     style="height: 20px; line-height:20px; vertical-align: middle">
                                    <div class="common_item_right_title text-left">我的定单</div>
                                </div>
                                <div class="pull-right">
                                    <span style="font-size: 10px">只显示今日定单</span>
                                    <img src="/images/arrow_right_normal.png" class="img-circle"/>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/mine/info',              //请求的url地址，这是相对于现在的位置的地址
            dataType: 'json',               //返回格式为json
            async: true,                    //请求是否异步，默认为异步，这也是ajax重要特性
            data: {},                       //参数值
            type: 'GET',                    //请求方式
            beforeSend: function () {       //请求前的处理

            },
            success: function (response) {  //请求成功时处理
                console.log(JSON.stringify(response));
                var errMsg = '登陆失败';

                if (response) {
                    if (response.code == 0 && response.data) {
                        if (response.data.icon) {
                            $('#icon').attr('src', response.data.icon);
                        }

                        $('#name').html(response.data.name);
                        $('#telephone').html(response.data.phoneNumber);

                        return;
                    }

                    if (response.code == 4) {
                        location.href = '/login';
                        return;
                    }

                    if (response.message) {
                        errMsg = response.message;
                    }
                }

                layer.alert(errMsg, {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
            },
            error: function () {          //请求出错处理
                layer.alert('请求失败，请重试！', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
            },
            complete: function () {       //请求完成的处理

            }
        });
    });
</script>
</body>
</html>
