<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———重置密码</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">
                        重置密码
                    </div>
                </div>
                <div class="panel-body" style="padding-top: 50px">
                    <div id="head">
                        获取短信验证码：
                    </div>

                    <div id="phoneNumberContainer" class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                        <input id="phoneNumber" type="text" class="form-control" name="phoneNumber"
                               placeholder="请输入手机号码">
                    </div>

                    <div id="verifyCodeContainer" class="input-group hidden" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-saved"></span>
                        </div>
                        <input id="verifyCode" type="text" class="form-control" name="verifyCode"
                               placeholder="请输入短信验证码">
                    </div>

                    <button id="okBtn" class="btn btn-success"
                            style="margin-top: 40px; margin-bottom: 40px; width: 100%;">
                        获取
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        var step = 1;

        $('#okBtn').click(function () {
            var phoneNumber = $('#phoneNumber').val();

            if (step == 1) {
                if (phoneNumber) {
                    if (phoneNumber.length != 11 || phoneNumber.indexOf('1') != 0) {
                        layer.alert('请输入正确的电话号码', {
                            skin: 'layui-layer-molv',  //样式类名
                            closeBtn: 0,
                            shift: 2 //动画类型
                        });
                        return;
                    }
                } else {
                    layer.alert('请输入电话号码', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                    return;
                }

                $.ajax({
                    url: '/verifyCode',           //请求的url地址，这是相对于现在的位置的地址
                    dataType: 'json',             //返回格式为json
                    async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
                    data: {phoneNumber: phoneNumber}, //参数值
                    type: 'GET',                  //请求方式
                    beforeSend: function () {     //请求前的处理

                    },
                    success: function (response) {      //请求成功时处理
                        var errMsg = '获取验证码失败';

                        if (response) {
                            if (response.code == 0) {
                                layer.alert('获取验证码成功，请注意查看您的手机信息', {
                                    skin: 'layui-layer-molv',  //样式类名
                                    closeBtn: 0,
                                    shift: 2 //动画类型
                                }, function (index) {
                                    $('#head').html('输入短信验证码：');
                                    $('#phoneNumberContainer').addClass('hidden');
                                    $('#verifyCodeContainer').removeClass('hidden');
                                    $('#okBtn').html('验证');

                                    step = 2;

                                    layer.close(index);
                                });

                                return;
                            }

                            if (response.message) {
                                errMsg = response.message;
                            }
                        }

                        layer.alert(errMsg, {
                            skin: 'layui-layer-molv',  //样式类名
                            closeBtn: 0,
                            shift: 2 //动画类型
                        });
                    },
                    error: function () {          //请求出错处理

                        layer.alert('请求失败，请重试！', {
                            skin: 'layui-layer-molv',  //样式类名
                            closeBtn: 0,
                            shift: 2 //动画类型
                        });
                    },
                    complete: function () {       //请求完成的处理

                    }
                });
            } else {
                var verifyCode = $('#verifyCode').val();
                if (!verifyCode) {
                    layer.alert('请输入短信验证码', {
                        skin: 'layui-layer-molv',  //样式类名
                        closeBtn: 0,
                        shift: 2 //动画类型
                    });
                    return;
                }

                $.ajax({
                    url: '/verifyCode',              //请求的url地址，这是相对于现在的位置的地址
                    dataType: 'json',                //返回格式为json
                    async: true,                     //请求是否异步，默认为异步，这也是ajax重要特性
                    data: {phoneNumber: phoneNumber, verifyCode: verifyCode},  //参数值
                    type: 'POST',                    //请求方式
                    beforeSend: function () {        //请求前的处理

                    },
                    success: function (response) {      //请求成功时处理
                        var errMsg = '发送短信验证码失败';

                        if (response) {
                            if (response.message) {
                                errMsg = response.message;
                            }

                            if (response.code == 0) {
                                layer.alert('密码重置成功', {
                                    skin: 'layui-layer-molv',  //样式类名
                                    closeBtn: 0,
                                    shift: 2 //动画类型
                                }, function () {
                                    history.go(-1);
                                });
                                return;
                            } else if (response.code == 5) {
                                layer.alert(errMsg, {
                                    skin: 'layui-layer-molv',  //样式类名
                                    closeBtn: 0,
                                    shift: 2 //动画类型
                                }, function () {
                                    location.href = '/login'
                                });
                                return;
                            }
                        }

                        layer.alert(errMsg, {
                            skin: 'layui-layer-molv',  //样式类名
                            closeBtn: 0,
                            shift: 2 //动画类型
                        });
                    },
                    error: function () {          //请求出错处理
                        console.log('error');

                        layer.alert('请求失败，请重试！', {
                            skin: 'layui-layer-molv',  //样式类名
                            closeBtn: 0,
                            shift: 2 //动画类型
                        });
                    },
                    complete: function () {       //请求完成的处理

                    }
                });
            }
        });
    });
</script>
</body>
</html>
