<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———所有订单</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">乐餐吧</div>
                    </a>
                </div>

                <% if (orders && orders.length > 0) { %>
                    <div style="padding: 10px; border-bottom: 1px solid gainsboro">
                        今日订单明细：
                    </div>
                    <table class="table table-responsive table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>订餐人</th>
                            <th>菜名</th>
                            <th>数量</th>
                        </tr>
                        </thead>
                        <% orders.forEach(function(item) { %>
                            <tbody>
                            <tr>
                                <td><%= item.realName %></td>
                                <td><%= item.name %></td>
                                <td><%= item.dishes_count %></td>
                            </tr>
                            </tbody>
                        <% })%>
                    </table>
                <% } else { %>
                    <div class="h2 text-center" style="height: 300px; padding-top: 130px">
                        今日无订单
                    </div>
                <% } %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>