<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>晚上加班点餐系统———我的订单</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">乐餐吧</div>
                </div>
                <div class="text-center" style="padding-top: 40px; padding-bottom: 40px">
                    <div class="h4">
                        总价：<%= totalPrice %>元
                    </div>
                    <div style="font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px">
                        一杯豆浆
                    </div>
                    <div style="font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px">
                        一个酱肉烧饼
                    </div>
                    <div style="font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px">
                        一个砂锅豆腐
                    </div>

                    <button id="okBtn" class="btn btn-success" style="width: 70%; margin-top: 30px">确定</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#okBtn').click(function () {
            history.go(-1);
        });
    });
</script>
</body>
</html>
