<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———我的订单</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">乐餐吧</div>
                </div>
                <div class="text-center" style="padding-top: 40px; padding-bottom: 40px">
                    <div id="title" class="h4">
                        正在获取您的订单信息...
                    </div>
                    <div id="summary" style="font-size: 14px; color: #c72323">

                    </div>

                    <button id="okBtn" class="btn btn-success" style="width: 70%; margin-top: 30px">确定</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/mine/order/info',      //请求的url地址，这是相对于现在的位置的地址
            dataType: 'json',             //返回格式为json
            async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
            data: {},                     //参数值
            type: 'GET',                  //请求方式
            beforeSend: function () {      //请求前的处理

            },
            success: function (response) {      //请求成功时处理
                console.log('response = ' + JSON.stringify(response));

                var errMsg = '请求失败';

                if (response) {
                    if (response.code == 0 && response.dishes && response.dishes.length > 0) {
                        var totalPrice = 0;
                        response.dishes.forEach(function (item) {
                            totalPrice += (item.price * item.count);

                            $('#summary').append("<div style='font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px'>" + item.count + "个" + item.name + "</div>");
                        });

                        $('#title').html('总价：' + totalPrice + '元');
                        $('#okBtn').html('确定');
                        $('#okBtn').click(function () {
                            history.go(-1);
                        });

                        return;
                    }

                    if (response.message) {
                        errMsg = response.message;
                    }
                }

                $('#title').html(errMsg);
                $('#okBtn').html('重试');
                $('#okBtn').click(function () {
                    location.reload();
                });
            },
            error: function () {          //请求出错处理
                $('#title').html('请求失败，请重试！');
                $('#okBtn').html('重试');
                $('#okBtn').click(function () {
                    location.reload();
                });
            },
            complete: function () {       //请求完成的处理

            }
        });
    });
</script>
</body>
</html>
