<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———提交成功</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">乐餐吧</div>
                </div>
                <div class="text-center" style="padding-top: 40px; padding-bottom: 40px">
                    <img src="/images/success.png" style="width: 100px"/>
                    <div class="h1">
                        提交成功
                    </div>
                    <div class="h4">
                        <span>总价：</span><span id="totalPrice"></span><span>元</span>
                    </div>
                    <div id="dishes" style="font-size: 14px; color: #c72323">

                    </div>

                    <a href="/" class="btn btn-success" style="width: 70%; margin-top: 30px">确定</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/layer/layer.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/order/mine/api',       //请求的url地址，这是相对于现在的位置的地址
            dataType: 'json',             //返回格式为json
            async: true,                  //请求是否异步，默认为异步，这也是ajax重要特性
            data: {},                     //参数值
            type: 'GET',                  //请求方式
            beforeSend: function () {      //请求前的处理

            },
            success: function (response) {      //请求成功时处理
                console.log('response = ' + JSON.stringify(response));

                var errMsg = '请求失败';

                if (response) {
                    if (response.code == 0 && response.dishes && response.dishes.length > 0) {
                        var totalPrice = 0;
                        response.dishes.forEach(function (item) {
                            totalPrice += (item.price * item.count);

                            $('#dishes').append("<div style='font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px'>" + item.count + "个" + item.name + "</div>");
                        });

                        $('#totalPrice').html(totalPrice);

                        return;
                    }

                    if (response.message) {
                        errMsg = response.message;
                    }
                }

                layer.alert(errMsg, {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
            },
            error: function () {          //请求出错处理
                layer.alert('请求失败，请重试！', {
                    skin: 'layui-layer-molv',  //样式类名
                    closeBtn: 0,
                    shift: 2 //动画类型
                });
            },
            complete: function () {       //请求完成的处理

            }
        });
    });
</script>
</body>
</html>
