<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>晚上加班点餐系统———提交成功</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/modernizr.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="well text-center" style="margin: auto 0px">
                <img src="/images/a4.jpg" class="img-rounded" style="width: 100px; height: 100px"/>
                <div class="h1">
                    提交成功
                </div>
                <div class="h4">
                    总价：<%= totalPrice %>元
                </div>
                <div style="font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px">
                    一杯豆浆
                </div>
                <div style="font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px">
                    一个酱肉烧饼
                </div>
                <div style="font-size: 14px; color: #c72323; margin-top: 5px; margin-bottom: 5px">
                    一个砂锅豆腐
                </div>

                <a href="/" class="btn btn-success" style="width: 70%; margin-top: 30px; margin-bottom: 20px">确定</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
