@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: white;
    font-size: 12px;
    color: black;
    height: 100%;
}

html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img,
fieldset,
abbr,
acronym {
    border: 0 none;
}

del,
ins {
    text-decoration: none;
}

header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*超练级设置——无下划线*/
a {
    text-decoration: none;
    color: #666;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i,
b,
address {
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
}

caption {
    text-align: left;
}

time,
mark {
    margin: 0px;
    padding: 0px;
    background: none
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

.mt50 {
    width: 100%;
    height: 45px;
    overflow: hidden;
}

.hide {
    display: none !important;
}

img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
}

/*input样式*/
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    background-color: #F94D4D;
    margin-top: 20px;
}

.wrapper {
    width: 500px;
    margin: 50px auto;
}

/** 头部的子菜单里面的超链接在鼠标经过 */
a:hover {
    color: #c72323;
}

div .grid_view {
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;
}

.grid_view_item_head {
    text-align: left;
}

div .grid_view:after {
    clear: both;
    content: " ";
    display: block;
}

div .grid_view li {
    float: left;
    display: inline-block;
    margin-left: 2.5%;
    margin-top: 2.5%;
    width: 30%;
    border-radius: 3px;
    overflow: hidden;
}

div .grid_view li a {
    display: block;
    color: #FFF;
    text-align: center
}

div .grid_view li a b {
    display: block;
    height: 80px;
}

div .grid_view li a img {
    width: 100%;
    height: 100%;
}

div .grid_view li a span {
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    color: #999;
    font-size: 14px;
}

.product_logo_container {
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}

.product_logo_text_container {
    height: 100px;
    line-height: 50px;
    display: inline-block;
}

.product_logo_text {
    padding: 0px;
    vertical-align: bottom;
}

.contact_us_item {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.contact_us_item_icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
}

.contact_us_item_text_container {
    display: inline-block;
    height: 50px;
    line-height: 25px;
    vertical-align: middle;
    padding-left: 10px;
    color: #616161;
}

.contact_us_item_title {
    font-size: 15px;
}

.contact_us_item_summary {

}

.container_left {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fafafa;
}

.container_right {
    background: white;
}

.left_list_title {
    font-size: 18px;
    padding-bottom: 5px;
}

.left_list_item {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: disc;
}

.company_container_left {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}

.company_container_right {
    background: #fafafa;
    padding: 15px;
}

.company_info_container {
    width: 100%;
    height: 100%;
    background: white;
}

.company_info_container p {
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.success_case_company_name {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.success_case_content {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.success_case_content p {
    font-size: 16px;
    margin-left: 25px;
}

.success_case_sub_title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.apply_for_button {
    background: orange;

    margin-top: 30px;
    margin-bottom: 30px;

    padding: 10px;

    font-size: 20px;
    color: white;
}

.layer_title_text {
    margin-left: -15px;

    padding-top: 10px;

    text-align: left;

    font-size: 20px;
    color: #000;
}

.layer_input {
    width: 100%;
    margin-top: 10px;

    text-align: left;

    font-size: 20px;
    color: #000;

    border-width: thin;
    border-style: solid;
    border-color: #cedce8;
}

.layer_btn {
    font-size: 20px;

    margin-top: 10px;

    width: 45%;
}

.download_title {
    font-weight: bold;
    font-size: 18px;
    color: #000;

    padding-top: 20px;
    padding-bottom: 20px;
}

.download_app_name {
    font-size: 18px;
    color: #000;

    text-align: center;

    padding-top: 10px;
}

.download_app_summary {
    font-size: 18px;
    color: #000;

    padding-top: 10px;
}

.download_btn {
    font-size: 18px;
    color: white;

    padding-left: 30px;
    padding-right: 30px;

    margin: 20px;

    float: right;
}

.login_welcome {
    font-size: 20px;
    color: gray;

    margin-bottom: 15px;
}

.register_body {
    background: white;
    padding-top: 50px;

    font-size: 16px;
}

.register_body_middle {
    width: 1000px;
    margin: 0px auto;

    border: solid 1px #eeeeee;
    border-radius: 5px;

    background: #eeeeee
}

.register_title_text {
    background: #61a2d1;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    color: white;
}

.register_body_middle_left_container {
    width: 600px;

    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 20px;

    background: white;
}

.register_input {
    width: 60%;

    padding: 10px;
    background: white;

    border: solid 1px #eeeeee;
    border-radius: 5px;
}

.first_p {
    padding-top: 20px;
    text-indent: 2em;
}

.one_line {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header_item {
    font-size: 18px;
    color: white;
}

.header_item:hover {
    background: white;
    font-size: 18px;
    color: black;
}

footer {
    background: #333;
    width: 100%;
    clear: both;
    text-align: center;
}

.ft-copyright {
    color: #fff;
    line-height: 24px;
}

/*解决IE6下滚动抖动的问题*/
#tbox {
    width: 54px;
    float: right;
    position: fixed;
    right: 50px;
    bottom: 15px;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
    _margin-bottom: 15px;
}

/*解决IE6下不兼容 position:fixed 的问题*/

#togbook, #gotop {
    width: 54px;
    height: 56px;
    display: block;
    background: url(../images/icons.png) no-repeat #111;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
    border-radius: 6px;
}

#togbook {
    margin: 5px 0;
    background-position: 10px -36px;
}

#gotop {
    background-position: 12px 10px;
}

#togbook:hover, #gotop:hover {
    opacity: 0.5
}

/*以下是对Bootstrap的覆盖*/

.h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
}

.h2 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: red;
}

.h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: blue;
}

.h4 {
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: green;
}

.h5 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F94D4D;
}

.h6 {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gold;
}

pre {
    margin-left: 32px;
    margin-top: 20px;
    padding: 10px;
    background-color: #F2DEDE;
}

/*以下是对Bootstrap的扩展*/

.bg-transparent {
    background-color: transparent;
}

.well-transparent {
    background-color: transparent;
}

.well-primary {
    background-color: transparent;
}

.well-info {
    background-color: transparent;
}

.well-warning {
    background-color: transparent;
}

.well-danger {
    background-color: transparent;
}

.well-success {
    background-color: transparent;
}

.badge-red {
    background-color: red;
}

.list-tree {
    margin-left: 48px;
    margin-top: 20px;
}

.list-tree-item-title {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

.list-tree-item-summary {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    text-indent: 2em;
}

.common_item {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.common_item_left {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
}

.common_item_right {
    display: inline-block;
    height: 50px;
    line-height: 25px;
    vertical-align: middle;
    padding-left: 10px;
    color: #616161;
}

.common_item_right_title {
    font-size: 15px;
}

.common_item_right_summary {

}