<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———餐馆列表</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/browserChecker.js"></script>

    <!--[if lt IE 9]>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <div class="h1" style="display: inline-block">乐餐吧</div>
                    <a href="/mine">
                        <img src="/images/user_default_icon.png" class="img-circle pull-right" style="width: 40px; margin-top: 10px"/>
                    </a>
                </div>

                <div style="padding:15px">
                    加班美食供应商：
                </div>

                <% if (rows && rows.length) { %>
                    <ul class="list-group">
                        <% rows.forEach(function(item){ %>
                        <li class="list-group-item">
                            <a href="/dishes/list/ <%=item.id %>">
                                <div class="common_item">
                                    <img src="<%= item.icon %>" class="img-responsive img-rounded common_item_left" style="width:100px; height: 100px">
                                    <div class="common_item_right" style="height: 100px">
                                        <div class="common_item_right_title">
                                            <%= item.name %>
                                        </div>
                                        <div class="common_item_right_summary">
                                            <%= item.phoneNumber %>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>