<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———重置密码</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">
                        重置密码
                    </div>
                </div>
                <div class="panel-body" style="padding-top: 50px">
                    <div id="head">
                        获取短信验证码：
                    </div>

                    <div id="phoneNumberContainer" class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                        <input id="phoneNumber" type="text" class="form-control" name="phoneNumber"
                               placeholder="请输入手机号码">
                    </div>

                    <div id="verifyCodeContainer" class="input-group hidden" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-saved"></span>
                        </div>
                        <input id="verifyCode" type="text" class="form-control" name="verifyCode"
                               placeholder="请输入短信验证码">
                    </div>

                    <button id="okBtn" class="btn btn-success"
                            style="margin-top: 40px; margin-bottom: 40px; width: 100%;">
                        获取
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/layer/build/layer.js"></script>
<script src="/js/main.js"></script>
<script src="/js/reset-password.js"></script>
</body>
</html>
