<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———提交成功</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">
    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">乐餐吧</div>
                </div>
                <div class="text-center" style="padding-top: 40px; padding-bottom: 40px">
                    <img src="/images/success.png" style="width: 100px"/>
                    <div class="h1">
                        提交成功
                    </div>
                    <div class="h4">
                        <span>总价：</span><span id="totalPrice"></span><span>元</span>
                    </div>
                    <div id="dishes" style="font-size: 14px; color: #c72323">

                    </div>

                    <button class="btn btn-success" style="width: 70%; margin-top: 30px">确定</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/layer/dist/layer.js"></script>
<script src="/js/main.js"></script>
<script src="/js/order-success.js"></script>
</body>
</html>
