<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———关于</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">关于</div>
                </div>
                <img src="/images/about.png" style="width: 100%">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>
