<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>乐餐吧———重置密码</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="font-size: 12px">

<div class="container">

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div id="container" class="panel panel-default">
                <div class="panel-heading">
                    <div class="h1 text-center">
                        修改密码
                    </div>
                </div>
                <div class="panel-body">
                    <div class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 70px; font-size: 14px">旧密码：</div>
                        </div>
                        <input type="password" class="form-control" id="oldPassword"  name="oldPassword" placeholder="请输入旧密码，6~16个字符">
                    </div>

                    <div class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon text-right">
                            <div class="text-right" style="width: 70px; font-size: 14px">新密码：</div>
                        </div>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="请输入新密码，6~16个字符">
                    </div>

                    <div class="input-group" style="margin-top: 20px">
                        <div class="input-group-addon">
                            <div class="text-right" style="width: 70px; font-size: 14px">确认密码：</div>
                        </div>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="请再次输入新密码">
                    </div>

                    <button id="okBtn" class="btn btn-success" style="margin-top: 40px; margin-bottom: 40px; width: 100%;">
                        确定
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/layer/dist/layer.js"></script>
<script src="/js/main.js"></script>
<script src="/js/change-password.js"></script>
</body>
</html>
